<p>
    <label for="settings_number_for_last_displayed_issues"><%= l(:number_for_last_displayed_issues_setting) %> </label>
    <%= text_field_tag "settings[number_for_last_displayed_issues_setting]", @settings['number_for_last_displayed_issues_setting'], :size => 20 %>
    <em class="info"><%= t(:number_for_last_displayed_issues_setting_explanation) %></em>
</p>